body{
    font-family: "poppins",sans-serif;
    background-image: url("https://images.pexels.com/photos/317407/pexels-photo-317407.jpeg");
    background-size: cover;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 0;
}
.container{
    background: rgba(0, 0, 0, 0.13);
    padding: 40px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid #00000055;
    
}
    nav{
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
    min-width: 25%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffac;
    background:rgba(175, 175, 175, 0.5);
    border: 1px solid #33333327 ;
    z-index: 9;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #74099b;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    color: #4b4b4b;
}
.container h1{
    text-align: center;
    margin-bottom: 35px;
    color: #5581c7;
}
.container form label{
    font-size: 20px;
    cursor: pointer;
    margin: 0;
}

.container .checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
    gap: 15px;
}

.container .checkboxes label {
    display: flex; 
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.container .checkboxes input[type="checkbox"] {
    width: 22px;
    height: 22px;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.container .checkboxes input[type="checkbox"]:checked {
    background-color: #5581c7;
}
.length {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.length input[type="range"] {
    width: 75%;
    margin: 0 ;
    cursor: pointer;
}
.container .button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
    gap: 15px;
}
.container .button .generate-btn{
    width:75%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border:none;
    background: linear-gradient(to right,#9e9fb1,#6f74b3,#c8bfd1,#7f42a7);
    background-size: 200%;
    color: white;
    border-radius: 10px ;
    transition: 0.3s ease;
    align-self: center;
}
.container .button .generate-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 0, 0,0.3);
    background: #2f2f2f;

}
.container .password-box {
    position: relative;
    display: flex;
    width: 75%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom:auto;
    margin-left: 38px;   
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.container .password-box .password{
    border: none;
    background: transparent;
    width: 100%;
}
.container .password-box .icon {
    position: absolute;
    right: 10px; /* المسافة من اليمين */
    top: 50%; /* بنحركها لنص الارتفاع */
    transform: translateY(-50%); /* بنضبطها عشان تكون في السنتر بالظبط */
}
.password-box .icon button {
    background: none;
    border: none;
}
.password-box .icon .copy{
    background: none;
    border: none;
    cursor: pointer;
    color: #5581c7;
    font-size: 20px;}

.password-box .icon .copied{
    background: none;
    display: none;
    border: none;
    cursor: pointer;
    color: #5581c7;
    font-size: 20px;}

    .password-box .icon button:hover {
    transform: scale(0.8);
    color: #3b5998;
}